@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i,800,800i,900");
@font-face {
  font-family: 'avenir-bold', sans-serif;
  src: url("../fonts/AvenirNext-Boldeot");
  src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Bold.woff2") format("woff2"), url("../fonts/aAvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'avenir', sans-serif;
  src: url("../fonts/AvenirNext-Regular");
  src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Regular.woff2") format("woff2"), url("../fonts/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular.ttf") format("truetype"); }
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  color: #03314C; }

h1 {
  font-style: normal;
  font-weight: 800;
  font-family: "Muli", sans-serif;
  font-size: 42px;
  line-height: 50px; }

h2 {
  font-style: normal;
  font-weight: 800;
  font-family: "Muli", sans-serif;
  font-size: 32px;
  line-height: 40px; }

h2.section-title:after {
  content: '.';
  color: #00A651; }

h3 {
  font-style: normal;
  font-weight: 800;
  font-family: "Muli", sans-serif;
  font-size: 28px;
  line-height: 36px; }

h3.featured-title:after {
  content: '.';
  color: #00A651; }

p {
  font-family: "avenir", sans-serif;
  color: #4F4F4F; }

a {
  font-family: "Muli", sans-serif; }

.the-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

.mobile-navigation {
  display: none; }

header {
  z-index: 99;
  position: fixed;
  width: 100%;
  margin-top: 26px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  header:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    background: #fff;
    z-index: -1;
    margin: 0 auto;
    border-radius: 10px 10px 99px 99px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 0px solid #eeeeee; }
  header nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 26px 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    position: relative; }
    header nav .branding {
      flex-grow: 1;
      max-width: 145px; }
      header nav .branding img {
        max-width: 145px; }
    header nav .main-nav {
      flex-grow: 1; }
      header nav .main-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right; }
        header nav .main-nav ul li {
          float: left; }
          header nav .main-nav ul li a {
            font-family: "Muli", sans-serif;
            font-weight: 600;
            color: #03314C;
            padding: 5px 15px;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2 ease-in-out; }
            header nav .main-nav ul li a:hover {
              color: #00A651;
              text-decoration: none; }
    header nav .ct-btns {
      position: absolute;
      right: 0px;
      bottom: 0px;
      display: flex;
      width: 100%; }
      header nav .ct-btns ul {
        position: absolute;
        top: 1px;
        right: 0px;
        list-style: none;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        header nav .ct-btns ul li {
          float: left; }
          header nav .ct-btns ul li a.menu-btn {
            color: #fff;
            padding: 14px 18px;
            display: block;
            font-weight: 600;
            position: relative;
            overflow: hidden;
            text-decoration: none; }
            header nav .ct-btns ul li a.menu-btn:before {
              content: '';
              position: absolute;
              background: #00A651;
              width: 100%;
              height: 100%;
              z-index: -2;
              left: 0;
              top: 0; }
            header nav .ct-btns ul li a.menu-btn:after {
              content: '';
              position: absolute;
              width: 50px;
              min-height: 50px;
              z-index: -2;
              left: -50px;
              bottom: -50px;
              border-radius: 100%;
              background: #008d45;
              -webkit-transition: all .4s ease-in-out;
              -moz-transition: all .4s ease-in-out;
              -o-transition: all .4s ease-in-out;
              transition: all .4s ease-in-out; }
            header nav .ct-btns ul li a.menu-btn:hover {
              color: #fff; }
            header nav .ct-btns ul li a.menu-btn:hover:after {
              transform: scale(18); }
          header nav .ct-btns ul li .singular {
            border-radius: 0px 0px 10px 10px !important; }
          header nav .ct-btns ul li a.secondair:before {
            content: '';
            position: absolute;
            background: #03314C;
            width: 100%;
            height: 100%;
            z-index: -2;
            left: 0;
            top: 0; }
          header nav .ct-btns ul li a.secondair:after {
            content: '';
            position: absolute;
            width: 50px;
            min-height: 50px;
            z-index: -2;
            left: -50px;
            bottom: -50px;
            border-radius: 100%;
            background: #011825;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out; }
          header nav .ct-btns ul li a.secondair:hover {
            color: #fff; }
          header nav .ct-btns ul li a.secondair:hover:after {
            transform: scale(18); }
          header nav .ct-btns ul li:first-child a.menu-btn {
            border-radius: 0px 0px 0px 10px; }
          header nav .ct-btns ul li:last-child a.menu-btn {
            border-radius: 0px 0px 10px 0px; }
  header nav.ro {
    border-radius: 10px 10px 0px 10px !important; }
  header .reading-progress {
    position: absolute;
    left: 0px;
    bottom: -2px;
    background: #03314C;
    display: block;
    height: 2px;
    transition-property: width;
    transition-duration: 0.1s;
    opacity: 0; }

.visible {
  opacity: 1 !important; }

.has_scrolled {
  margin-top: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .has_scrolled nav {
    border: none; }
    .has_scrolled nav .ct-btns ul {
      top: 2px; }
  .has_scrolled:after {
    content: '';
    width: 100%;
    height: calc(100% + 2px);
    border-radius: 0px;
    border-bottom: 2px solid #eeeeee; }

.hp-header {
  background: #F8F8F8; }
  .hp-header .hp-header-co {
    position: relative;
    display: flex;
    align-items: center;
    height: 36rem; }
    .hp-header .hp-header-co .inner {
      position: relative;
      z-index: 1;
      padding-top: 110px; }
      .hp-header .hp-header-co .inner h1 {
        color: #fff;
        font-weight: bold;
        font-weight: 900;
        padding-bottom: 10px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .hp-header .hp-header-co .inner p {
        font-family: 'avenir-bold', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        /* identical to box height, or 178% */
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding-bottom: 15px; }
    .hp-header .hp-header-co .header-image {
      position: absolute;
      height: 100%;
      width: 100vw;
      top: 0;
      right: 0;
      border-radius: 0px 0px 10px 0px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }

#counter {
  overflow-x: hidden; }
  #counter .count {
    position: relative;
    padding: 30px 0px; }
    #counter .count:before {
      content: '';
      width: 100vw;
      background: #F8F8F8;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 0px 0px 0px 10px; }
    #counter .count .counters {
      border-right: 1px solid #E0E0E0;
      text-align: center; }
      #counter .count .counters:last-child {
        border-right: none; }
      #counter .count .counters .countnumber {
        font-family: "Muli", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #03314C;
        position: relative; }
        #counter .count .counters .countnumber:after {
          content: '+';
          color: #00a651;
          position: absolute;
          font-size: 24px;
          font-weight: 700;
          bottom: 16px;
          right: -16px;
          height: 20px;
          line-height: initial; }
      #counter .count .counters .countitem {
        color: #03314C;
        display: block;
        line-height: 10px; }

#featured_educations {
  padding: 60px 0px; }
  #featured_educations .featured-item {
    width: 100%;
    min-height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    position: relative;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    #featured_educations .featured-item:last-child {
      margin-bottom: 0px; }
    #featured_educations .featured-item:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); }
    #featured_educations .featured-item .inner {
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
      background: #fff;
      padding: 15px;
      margin: 15px;
      border-radius: 10px;
      z-index: 1;
      border: 1px solid #fff; }
      #featured_educations .featured-item .inner .duration:before {
        content: '';
        position: relative;
        display: inline-block;
        height: 16px;
        width: 1px;
        background-image: url(../img/seperator.svg);
        margin: 0px 6px;
        top: 2px; }
      #featured_educations .featured-item .inner .location:before {
        content: '';
        position: relative;
        display: inline-block;
        height: 16px;
        width: 1px;
        background-image: url(../img/seperator.svg);
        margin: 0px 6px;
        top: 2px; }
    #featured_educations .featured-item .featured-info {
      color: rgba(3, 49, 76, 0.5); }
  #featured_educations .featured-item-big {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative; }
    #featured_educations .featured-item-big .inner {
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
      background: #fff;
      padding: 15px;
      margin: 15px;
      border-radius: 10px;
      z-index: 1;
      border: 1px solid #fff; }
      #featured_educations .featured-item-big .inner .duration:before {
        content: '';
        position: relative;
        display: inline-block;
        height: 16px;
        width: 1px;
        background-image: url(../img/seperator.svg);
        margin: 0px 6px;
        top: 2px; }
      #featured_educations .featured-item-big .inner .location:before {
        content: '';
        position: relative;
        display: inline-block;
        height: 16px;
        width: 1px;
        background-image: url(../img/seperator.svg);
        margin: 0px 6px;
        top: 2px; }
    #featured_educations .featured-item-big:after {
      content: '';
      bottom: 0px;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); }
    #featured_educations .featured-item-big .featured-info {
      color: rgba(3, 49, 76, 0.5); }
  #featured_educations .more {
    position: relative; }
    #featured_educations .more .small-btn {
      position: absolute;
      right: 15px;
      bottom: 0px;
      margin-bottom: 1rem;
      font-family: Muli,sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #03314c; }
      #featured_educations .more .small-btn:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 13px;
        margin-left: 10px;
        background-image: url(../img/arrow.svg);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #featured_educations .more .small-btn:hover {
        text-decoration: none; }
      #featured_educations .more .small-btn:hover:after {
        margin-left: 14px; }

#services {
  padding: 30px 0px;
  overflow-x: hidden; }
  #services .slick-list {
    padding: 30px 0px;
    margin-top: -15px;
    margin-bottom: -15px; }
  #services .container {
    position: relative; }
    #services .container:before {
      content: '';
      top: 0px;
      height: 70%;
      width: 200%;
      position: absolute;
      right: 0;
      background: #f8f8f8;
      border-radius: 10px;
      -webkit-transform: translateY(50%);
      transform: translateY(-30px); }
  #services .services-main .services-items {
    width: 130%;
    margin-left: -15px; }
    #services .services-main .services-items .item {
      margin: 0px 15px;
      height: 385px;
      position: relative;
      border-radius: 10px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out; }
      #services .services-main .services-items .item .inner {
        position: absolute;
        bottom: 0px;
        margin: 24px;
        z-index: 1; }
        #services .services-main .services-items .item .inner p.description {
          margin-bottom: 0;
          font-family: Avenir Next;
          font-size: 16px;
          line-height: 28px;
          color: #FFFFFF; }
          #services .services-main .services-items .item .inner p.description:after {
            content: '';
            width: 14px;
            height: 13px;
            margin-left: 3px;
            display: inline-block;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/arrow.svg); }
        #services .services-main .services-items .item .inner h2 {
          font-weight: 800;
          font-size: 24px;
          line-height: 30px;
          color: #FFFFFF; }
      #services .services-main .services-items .item:after {
        content: '';
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10px;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); }
  #services .services-main .is_four {
    width: calc(100% + 30px);
    margin-right: -15px; }
  #services .services-main .next-slide {
    width: 52px;
    height: 52px;
    background-color: #00A651;
    border-radius: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    #services .services-main .next-slide svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%); }
    #services .services-main .next-slide:before {
      content: '';
      position: absolute;
      background: #00A651;
      width: 100%;
      height: 100%;
      z-index: -2;
      left: 0;
      top: 0; }
    #services .services-main .next-slide:after {
      content: '';
      position: absolute;
      width: 50px;
      min-height: 50px;
      z-index: -2;
      left: -50px;
      bottom: -50px;
      border-radius: 100%;
      background: #008d45;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    #services .services-main .next-slide:hover {
      color: #fff; }
    #services .services-main .next-slide:hover:after {
      transform: scale(18); }
  #services .more {
    position: relative; }
    #services .more .small-btn {
      position: absolute;
      right: 15px;
      bottom: 0px;
      margin-bottom: 1rem;
      font-family: Muli,sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #03314c; }
      #services .more .small-btn:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 13px;
        margin-left: 10px;
        background-image: url(../img/arrow.svg);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #services .more .small-btn:hover {
        text-decoration: none; }
      #services .more .small-btn:hover:after {
        margin-left: 14px; }

#b-cta {
  padding: 30px 0px; }
  #b-cta .container {
    background: #03314C;
    border-radius: 10px;
    padding: 120px 0px; }
  #b-cta .cta .row {
    align-items: center; }
  #b-cta .cta p {
    color: #fff;
    font-family: "avenir", sans-serif;
    font-size: 16px;
    line-height: 28px; }
  #b-cta .cta .small-btn {
    color: #fff;
    font-weight: bold; }
    #b-cta .cta .small-btn:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 13px;
      margin-left: 10px;
      background-image: url(../img/arrow.svg);
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    #b-cta .cta .small-btn:hover {
      text-decoration: none; }
    #b-cta .cta .small-btn:hover:after {
      margin-left: 14px; }
  #b-cta .cta .title p {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF; }
    #b-cta .cta .title p strong {
      z-index: 1;
      color: #fff;
      font-weight: 900;
      position: relative; }
      #b-cta .cta .title p strong:after {
        content: '';
        height: 2px;
        width: 100%;
        left: 0px;
        bottom: 2px;
        background: #00A651;
        position: absolute;
        z-index: -1; }

#c-cta {
  padding: 60px 0px; }
  #c-cta .inner {
    text-align: center;
    padding: 50px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    background-blend-mode: multiply;
    position: relative;
    z-index: 1; }
    #c-cta .inner h2 {
      color: #fff;
      padding: 15px 0px;
      font-weight: 900;
      font-size: 32px;
      line-height: 40px;
      color: #FFFFFF; }
      #c-cta .inner h2:after {
        content: '.';
        color: #00A651; }
    #c-cta .inner .subtitle {
      color: #fff;
      font-family: "avenir", sans-serif; }
    #c-cta .inner:after {
      content: '';
      background: #03314c;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0.95;
      background-blend-mode: multiply; }

#reviews {
  padding: 30px 0px; }
  #reviews .slick-track {
    cursor: grabbing; }
  #reviews .review-items {
    width: calc(100% + 30px);
    margin-left: -15px;
    position: relative; }
    #reviews .review-items:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -38px;
      width: calc(100%);
      z-index: -1;
      height: calc(68% + 52px);
      background: #00a651;
      border-radius: 10px;
      -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      transform: matrix(1, 0, 0, -1, 0, 0); }
    #reviews .review-items .review {
      margin: 15px; }
      #reviews .review-items .review .inner {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px; }
        #reviews .review-items .review .inner .information {
          padding: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
          #reviews .review-items .review .inner .information .name {
            display: block;
            font-family: "Muli", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 20px;
            color: #03314C;
            padding-top: 15px; }
          #reviews .review-items .review .inner .information .score {
            float: right;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            color: #03314C;
            font-family: "avenir", sans-serif; }
          #reviews .review-items .review .inner .information .function {
            font-family: "avenir", sans-serif;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.02em;
            color: #03314C; }
          #reviews .review-items .review .inner .information .rating {
            width: 100px;
            height: 20px;
            max-width: 100px;
            max-height: 20px;
            overflow: hidden;
            background-size: contain;
            background-image: url(../img/rating.svg); }
            #reviews .review-items .review .inner .information .rating .star {
              width: 18px;
              height: 17px;
              margin: 1px 1px;
              display: inline-block;
              float: left;
              background-size: contain;
              background-image: url(../img/star.svg); }
        #reviews .review-items .review .inner .the-review {
          padding: 20px; }
  #reviews .more-reviews {
    float: right;
    color: white;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer; }
    #reviews .more-reviews:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 13px;
      margin-left: 10px;
      background-image: url(../img/arrow-w.svg);
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    #reviews .more-reviews:hover {
      text-decoration: none; }
    #reviews .more-reviews:hover:after {
      margin-left: 14px; }

#partners {
  padding: 50px 0 80px; }
  #partners .partners .item img {
    margin: 0 auto;
    max-height: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5; }

#news {
  overflow-x: hidden;
  padding: 30px 0px; }
  #news .news {
    width: 135%; }
  #news .container {
    position: relative; }
    #news .container:before {
      content: '';
      top: -30px;
      right: 0;
      width: 200%;
      height: calc(100% + 60px);
      position: absolute;
      background: #f8f8f8;
      border-radius: 10px;
      padding: 19px; }
  #news .slick-list {
    padding: 10px 0px; }
  #news .more {
    position: relative; }
    #news .more .small-btn {
      position: relative;
      bottom: 0px;
      margin-bottom: 1rem;
      font-family: Muli,sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #03314c;
      float: right; }
      #news .more .small-btn:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 13px;
        margin-left: 10px;
        background-image: url(../img/arrow.svg);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #news .more .small-btn:hover {
        text-decoration: none; }
      #news .more .small-btn:hover:after {
        margin-left: 14px; }
  #news .news-items {
    display: flex;
    align-items: center; }
    #news .news-items .inner p {
      font-family: "avenir", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      /* or 175% */
      letter-spacing: -0.02em;
      color: #4F4F4F; }
    #news .news-items .inner .small-btn {
      position: relative;
      bottom: 0px;
      margin-bottom: 1rem;
      font-family: Muli,sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #03314c; }
      #news .news-items .inner .small-btn:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 13px;
        margin-left: 10px;
        background-image: url(../img/arrow.svg);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #news .news-items .inner .small-btn:hover {
        text-decoration: none; }
      #news .news-items .inner .small-btn:hover:after {
        margin-left: 14px; }
  #news .news-item {
    margin: 0px 15px; }
    #news .news-item .inner {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
      #news .news-item .inner .news-img {
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0px 0px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
      #news .news-item .inner .information {
        padding: 15px; }
        #news .news-item .inner .information .date {
          display: block;
          font-family: "Muli", sans-serif;
          font-size: 14px;
          color: #00A651;
          padding-bottom: 5px; }
        #news .news-item .inner .information .title {
          font-family: "Muli", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #03314C; }
  #news .more-news {
    width: 52px;
    height: 52px;
    background-color: #00A651;
    border-radius: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    #news .more-news svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%); }
    #news .more-news:before {
      content: '';
      position: absolute;
      background: #00A651;
      width: 100%;
      height: 100%;
      z-index: -2;
      left: 0;
      top: 0; }
    #news .more-news:after {
      content: '';
      position: absolute;
      width: 50px;
      min-height: 50px;
      z-index: -2;
      left: -50px;
      bottom: -50px;
      border-radius: 100%;
      background: #008d45;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    #news .more-news:hover {
      color: #fff; }
    #news .more-news:hover:after {
      transform: scale(18); }

#vacancies {
  padding: 72px 0px; }
  #vacancies .vac-row {
    position: relative; }
    #vacancies .vac-row:before {
      content: '';
      top: -50px;
      right: 0;
      width: 200%;
      height: calc(100% + 80px);
      position: absolute;
      background: #f8f8f8;
      border-radius: 10px;
      padding: 19px; }
  #vacancies .more {
    position: relative; }
    #vacancies .more .small-btn {
      position: relative;
      bottom: 0px;
      margin-bottom: 1rem;
      font-family: Muli,sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #03314c;
      float: right; }
      #vacancies .more .small-btn:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 13px;
        margin-left: 10px;
        background-image: url(../img/arrow.svg);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #vacancies .more .small-btn:hover {
        text-decoration: none; }
      #vacancies .more .small-btn:hover:after {
        margin-left: 14px; }
  #vacancies .vacancies-items .inner p {
    font-family: "avenir", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    letter-spacing: -0.02em;
    color: #4F4F4F; }
  #vacancies .vacancies-items .inner .small-btn {
    position: relative;
    bottom: 0px;
    margin-bottom: 1rem;
    font-family: Muli,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #03314c; }
    #vacancies .vacancies-items .inner .small-btn:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 13px;
      margin-left: 10px;
      background-image: url(../img/arrow.svg);
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    #vacancies .vacancies-items .inner .small-btn:hover {
      text-decoration: none; }
    #vacancies .vacancies-items .inner .small-btn:hover:after {
      margin-left: 14px; }
  #vacancies .vacancie-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    #vacancies .vacancie-item .company {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      color: #03314C;
      display: block; }
    #vacancies .vacancie-item .function {
      font-family: "avenir", sans-serif;
      font-size: 16px;
      letter-spacing: -0.02em;
      color: #4F4F4F; }
    #vacancies .vacancie-item .logo-small {
      width: 52px;
      height: 52px;
      background-size: 60%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #FAFAFA;
      border: 1px solid #EEEEEE;
      border-radius: 100%;
      margin-right: 20px; }
    #vacancies .vacancie-item:hover {
      transform: scale(1.01); }
    #vacancies .vacancie-item:after {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../img/arrow-b.svg);
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateY(-50%); }
  #vacancies .items {
    margin-bottom: -210px; }

.has_four {
  margin-bottom: 210px; }

footer {
  border-top: 1px solid rgba(3, 49, 76, 0.25); }
  footer .widgets {
    padding: 50px 15px;
    display: flex; }
    footer .widgets .widget-block {
      flex-grow: 1;
      margin: 0px 15px; }
      footer .widgets .widget-block .widget-title {
        font-family: "Muli", sans-serif;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: #03314C; }
      footer .widgets .widget-block ul {
        list-style: none;
        margin: 0;
        padding: 0px; }
        footer .widgets .widget-block ul li a {
          font-family: "Muli", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #03314C;
          -webkit-transition: all .1s ease-in-out;
          -moz-transition: all .1s ease-in-out;
          -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out; }
          footer .widgets .widget-block ul li a:hover {
            text-decoration: none;
            border-bottom: 2px solid #00A651; }
  footer .f-contact {
    display: flex;
    align-items: center;
    padding: 50px 10px 0px 15px; }
    footer .f-contact .fbtn {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      font-family: 'avenir-bold', sans-serif;
      font-weight: bold;
      padding: 15px 32px;
      border-radius: 10px;
      color: #03314C;
      position: relative;
      z-index: 2;
      overflow: hidden;
      display: inline-block;
      margin-left: 15px;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      footer .f-contact .fbtn:before {
        content: '';
        position: absolute;
        background: #FAFAFA;
        width: 100%;
        height: 100%;
        z-index: -2;
        left: 0;
        top: 0; }
      footer .f-contact .fbtn:after {
        content: '';
        position: absolute;
        width: 50px;
        min-height: 50px;
        z-index: -2;
        left: -50px;
        bottom: -50px;
        border-radius: 100%;
        background: #00A651;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; }
      footer .f-contact .fbtn:hover {
        color: #fff;
        text-decoration: none; }
      footer .f-contact .fbtn:hover:after {
        transform: scale(18); }

#socket {
  padding: 20px 0px;
  border-top: 1px solid rgba(3, 49, 76, 0.25); }
  #socket .socials a {
    margin-right: 5px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  #socket .socials a:hover {
    text-decoration: none; }
  #socket .socials a:hover path {
    fill: #03314C !important;
    fill-opacity: 1 !important; }
  #socket .socials a:hover rect {
    stroke: #03314c;
    stroke-opacity: 1 !important; }
  #socket .disclaimer ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0px; }
    #socket .disclaimer ul li {
      float: left;
      padding: 0 4px;
      border-left: 1px solid #03314C;
      line-height: 12px; }
      #socket .disclaimer ul li:first-child {
        border-left: none; }
      #socket .disclaimer ul li a {
        font-family: "Muli", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: underline;
        color: #03314C;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        #socket .disclaimer ul li a:hover {
          color: #00A651; }
  #socket .disclaimer .by {
    margin-top: 10px;
    float: right;
    display: block;
    clear: both;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #03314C; }
    #socket .disclaimer .by a {
      font-family: "Muli", sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      text-decoration-line: none;
      color: #03314C; }

.btn {
  font-family: 'avenir-bold', sans-serif;
  font-weight: bold;
  padding: 15px 32px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden; }
  .btn:before {
    content: '';
    position: absolute;
    background: #00A651;
    width: 100%;
    height: 100%;
    z-index: -2;
    left: 0;
    top: 0; }
  .btn:after {
    content: '';
    position: absolute;
    width: 50px;
    min-height: 50px;
    z-index: -2;
    left: -50px;
    bottom: -50px;
    border-radius: 100%;
    background: #008d45;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .btn:hover {
    color: #fff; }
  .btn:hover:after {
    transform: scale(18); }

@media screen and (min-width: 1560px) {
  .container {
    max-width: 80%; }

  #featured_educations .featured-item {
    min-height: 300px; }

  #news .news {
    width: 120%; } }
@media screen and (max-width: 736px) {
  header nav .main-nav {
    display: none; }

  .ct-btns {
    display: none !important; }

  header nav.ro {
    border-radius: 10px !important; }

  .mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: -1;
    padding: 130px 0px;
    background: rgba(255, 255, 255, 0.94);
    display: none; }
    .mobile-navigation ul {
      margin: 0;
      padding: 0px;
      list-style: none; }
      .mobile-navigation ul li {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative; }
        .mobile-navigation ul li a {
          font-family: Muli ExtraBold;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          color: #03314C; }
          .mobile-navigation ul li a:after {
            content: '.';
            color: #00A651; }
        .mobile-navigation ul li:after {
          content: '';
          right: 15px;
          top: 50%;
          width: 12px;
          height: 12px;
          transform: translateY(-50%);
          position: absolute;
          background-image: url(../img/arrow-mob.svg); }

  .blurred {
    filter: blur(4px); }

  .first {
    transform: rotate(45deg);
    transform-origin: left; }

  .middle {
    width: 0px !important; }

  .last {
    transform: rotate(-45deg);
    transform-origin: left; }

  main {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

  .mobile-nav {
    flex-grow: 1;
    display: block; }
    .mobile-nav .hamburger {
      width: 20px;
      height: 20px;
      float: right;
      cursor: pointer; }
      .mobile-nav .hamburger div {
        height: 2px;
        width: 100%;
        background: #03314C;
        margin: 5px 0px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }

  .counters {
    border-right: 0px !important;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 15px; }
    .counters:last-child {
      border-bottom: 0px; }

  #services .more .small-btn {
    position: initial;
    padding-bottom: 10px;
    display: block; }
  #services .services-main .services-items {
    width: 150%;
    margin-left: -15px; }

  #b-cta .container {
    border-radius: 0px; }

  #reviews .review-items:after {
    border-radius: 0px; }

  #c-cta #c-cta {
    padding: 60px 0;
    margin-left: initial;
    margin-right: initial;
    overflow: hidden; }
  #c-cta .inner {
    border-radius: 0px;
    margin-left: -15px;
    margin-right: -15px; }

  #vacancies .vacancie-item .info {
    padding-right: 15px; }
  #vacancies .vacancies-items {
    order: 1; }
    #vacancies .vacancies-items .inner .small-btn {
      display: none; }
  #vacancies .more {
    order: 2; }
    #vacancies .more .small-btn {
      float: left; }
  #vacancies .items {
    order: 3; }

  footer .widgets {
    padding: 50px 15px;
    display: block; }
    footer .widgets .widget-block {
      margin-bottom: 30px; }

  #socket .disclaimer ul {
    float: left;
    margin: 20px 0px; }
  #socket .disclaimer .by {
    float: left; }

  #featured_educations .more .small-btn {
    position: initial;
    padding-bottom: 10px;
    display: block; }
  #featured_educations .featured-item-big {
    min-height: 250px;
    margin-top: 20px; }

  #news .container:before {
    border-radius: 0px; }
  #news .more {
    display: none; }
  #news .news {
    width: 100%; }
  #news .slick-list {
    padding: 10px 0;
    margin-left: -15px;
    width: 150%; }

  footer .f-contact .branding {
    text-align: center; }
  footer .f-contact .fbtn {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    margin-top: 10px; }
    footer .f-contact .fbtn:first-child {
      margin-top: 40px; } }

/*# sourceMappingURL=style.css.map */
